<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- built files will be auto injected -->
        <h1>Events</h1>
        <h5>Click Event</h5>
        <button v-on:click="add">Add</button>
        <button v-on:click="subtract">Subtract</button>
        <p>Age:{{age}}</p>
        <h5>Mousemove Event</h5>
        <div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
    </div>
<script src="app.js"></script>
</body>
</html>
