#canvas {
    width: 600px;
    height: 300px;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #333;
}

.fade-enter-active, .fade-leave-active{
     transition: opacity 2.5s ease-out;
 }

.fade-enter, .fade-leave-to{
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}







